@font-face {
    font-family: "Doodle_Font";
    src: url("../fonts/RubikDoodleShadow-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto" ;
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-root: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-header: "Doodle_Font";
    --font-roboto: "Roboto";
    --base_font_size: 16px;
}

body {
    min-height: 100vh;
    background-color: gold;
    font-family: var(--font-root);
    font-size: var(--base_font_size);
}
                    /* ----- Header -----*/
.header_container {
    padding: 10px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px;
    gap: 10px;  
    font-size: x-large;   
    font-family: var(--font-header);
    text-transform: uppercase;  
}

#title {
    justify-self: center;
}

 #burger {
    font-weight: 700;
    font-size: 30px; 
    font-family: var(--font-roboto); 
    justify-self: center;
}

#navbar {
    display: flex;
    justify-content: center;
    align-self: end;
    gap: 30px;
    font-family: var(--font-roboto);
    padding: 20px;
    color: black;   
}

#navbar > * {
    font-size: large;
    font-weight: 200;
    letter-spacing: 3px;
    padding: 3px 10px;
    transition:all 500ms ease;
}

button  {  
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    color: #000;
    text-transform: uppercase;
}

button:hover {
    color: gold;
    background-color: #000;
}

#navbar #order {
    border: 3px solid black;
    padding: 5px 10px;
}

#navbar > *:hover {
    box-shadow: inset 210px 0 0 0 #000;
    color: gold;
    transition: 500ms ease;     
}
                    /* ----- hero image ----- */
#hero_container {
    position: relative;
    background: black;
}

#hero_container > div {
    margin: 0 100px;
    min-width: 500px;
}

#hero_image {
    width: 100%;
    height: 400px;
    opacity: 0.4;
    object-fit: cover;
    object-position: 0 65% ;   
}

#img_text {
    position: absolute;
    top: 20%;
    font-size: xx-large;
}

#extra_img_text {
    position: absolute;
    top: 50%;
    opacity: 0.8;
    
}

 #img_text, #extra_img_text {
    color: #fff;
    font-family: var(--font-roboto);
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 1px;
    word-wrap: break-word;
    
}

                    /* ----- Special Items Grid ----- */
#special_items_grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 10px;
    padding: 10px;
    
}

#special_items_grid img {
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 30%;
}

#special_items_grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#special_items_grid > div > div:nth-child(2) {
    font-size: 30px;
    font-weight: 700;
}

